{{>licenseInfo}}
package {{package}};

import it.pagopa.pn.commons.template.TemplateGenerator;
import org.springframework.stereotype.Component;

import {{modelPackage}}.*;

{{#imports}}import {{import}};
{{/imports}}


{{^fullJavaUtil}}
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
{{/fullJavaUtil}}

{{>generatedAnnotation}}
{{#operations}}
@Component
public class {{classname}} {
  
  private final TemplateGenerator gen;

  public {{classname}}( TemplateGenerator gen ) {
    this.gen = gen;
  }

  {{#operation}}
  /**
   * {{summary}}
   * {{notes}}
   {{#allParams}}
   * @param {{paramName}} {{description}}{{#required}} (required){{/required}}{{^required}} (optional{{^isContainer}}{{#defaultValue}}, default to {{.}}{{/defaultValue}}){{/isContainer}}{{/required}}
   {{/allParams}}
   {{#returnType}}
   * @return {{.}}
   {{/returnType}}
   * @throws IllegalArgumentException if parameters are wrong
   {{#isDeprecated}}
   * @deprecated
   {{/isDeprecated}}
   {{#externalDocs}}
   * {{description}}
   * @see <a href="{{url}}">{{summary}} Documentation</a>
   {{/externalDocs}}
   */
  {{#isDeprecated}}
  @Deprecated
  {{/isDeprecated}}
  public {{#returnType}}{{{.}}} {{/returnType}}{{^returnType}}void {{/returnType}}{{operationId}}({{#allParams}}{{{dataType}}} {{paramName}}{{^-last}}, {{/-last}}{{/allParams}}) throws IllegalArgumentException {
    String templateName = "{{{path}}}";
    Object model = {{#bodyParam}}{{paramName}}{{/bodyParam}}{{^bodyParam}}null{{/bodyParam}};
    
    {{#returnType}}
    {{#vendorExtensions.x-return-pdf}}
    return gen.generatePdfTemplate( templateName, language, model );
    {{/vendorExtensions.x-return-pdf}}
    {{#vendorExtensions.x-return-string}}
    return gen.generateStringTemplate( templateName, language, model );
    {{/vendorExtensions.x-return-string}}
    {{/returnType}}
    {{^returnType}}{{/returnType}}
  }
  {{/operation}}
}
{{/operations}}
